/*estructura*/
*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:default;}
html{font-family:'Arial',sans-serif;font-size:62.50%;scroll-behavior:smooth;-moz-scroll-behavior:smooth;}

html,body{width:100%;position:relative;}

a{text-decoration:none;}
ul,li{list-style:none;}

[class*="c_"]{display:inline-block;vertical-align:top;}
.c100{width:100%;}
.c_90{width:90%;float:left;}
.c_80{width:80%;float:left;}
.c_70{width:70%;float:left;}
.c_60{width:60%;float:left;}
.c_50{width:50%;float:left;}
.c_40{width:40%;float:left;}
.c_33{width:33.3333%;}
.c_30{width:30%;float:left;}
.c_20{width:20%;float:left;}
.c_10{width:10%;float:left;}

.gridBox,.grid{position:relative;padding:2rem;}
.grid{padding:2rem 0;}

/*cabecera*/
header{height:9.5rem;width:100%;background:#fff;border-bottom:.2rem solid #ffdb90;position:fixed;top:0;left:0;z-index:3;}
header h1{height:100%;width:100%;max-width:120rem;margin:0 auto;position:relative;}
header h1 img{height:6.5rem;width:auto;position:absolute;top:50%;left:50%;margin-top:-3.25rem;margin-left:-3.0133rem;}
header h1 .infoBox{position:absolute;top:50%;left:10rem;margin-top:-1.85rem;}
header h1 .infoBox li{font-size:2.2rem;color:#4d4d4d;letter-spacing:.2rem;}
header h1 .infoBox li:last-child{font-size:1rem;color:#686868;letter-spacing:.1rem;}

header h1 .socialBox{height:3rem;position:absolute;top:50%;right:3rem;margin-top:-1.5rem;}
header h1 .socialBox input,nav .menu_list{clip:rect(0,0,0,0);position:absolute;top:-100%;left:-100%;overflow:hidden;}
header h1 .socialBox label{background:#f2f2f2;padding-right:3rem;width:3rem;height:100%;display:block;position:relative;right:0;overflow:hidden;transition:width .2s linear;}
header h1 .socialBox label:after{content:"share";width:3rem;font-size:2rem;font-weight:600;line-height:3rem;text-align:center;font-family:"Material Icons";background:#f2f2f2;position:absolute;top:0;right:0;cursor:pointer;}

header h1 .socialBox label li,
header h1 .socialBox label li a{width:3rem;height:3rem;display:block;float:left;position:relative;}
header h1 .socialBox label li a:after{width:3rem;font-size:2rem;line-height:3rem;text-align:center;color:#686868;position:absolute;right:0;}
header h1 .socialBox label li .gplus:after{content:"G+";}
header h1 .socialBox label li .linke:after{content:"in";font-weight:800;}
header h1 .socialBox label li .infoj:after{content:"IJ";font-weight:bold;font-family:Encode Sans Condensed;font-style:italic;}

header h1 .socialBox input:checked ~ label{width:12rem;}

/*navegacion*/
nav{position:relative;width:100%;max-width:120rem;margin:0 auto;}
nav label{width:3rem;height:3rem;position:absolute;top:-4.75rem;left:3rem;margin-top:-1.5rem;background:#f2f2f2;cursor:pointer;}
nav label:before,
nav label:after{content:"";width:2rem;height:.2rem;background:#4d4d4d;position:absolute;transition:all .2s linear;z-index:2;}
nav label:after{bottom:1rem;left:.5rem;}
nav label:before{top:1rem;left:.5rem;}

nav #menu_list:checked ~ label:after{bottom:1.4rem;transform:rotate(-45deg);filter:invert(1);}
nav #menu_list:checked ~ label:before{top:1.4rem;transform:rotate(45deg);filter:invert(1);}

nav label ul{width:100%;height:100%;background:rgba(27,33,33,.85);border-top:9.5rem solid transparent;border-bottom:9.5rem solid transparent;position:fixed;top:0;left:-100%;z-index:1;}
nav #menu_list:checked ~ label ul{left:0;}
nav label ul li{display:table;width:100%;max-width:112.5rem;height:16.6666%;min-height:6rem;text-align:left;margin:0 auto;background:#313638;border-left:.6rem solid #ffdb90;}
nav label ul li:not(:last-child) a{border-bottom:.1rem solid #acacac;}
nav label ul li a{display:table-cell;font-size:2.2rem;color:#fff;padding-left:5vw;vertical-align:middle;cursor:pointer;}
nav label ul li a span{position:relative;cursor:pointer;}

/*cuerpo*/
.mainbodier{display:block;width:100%;height:100%;}
.mainbodier .bodier{width:100%;height:100%;padding-top:9.5rem;box-shadow:0 0 1.5rem -0.5rem rgba(0,0,0,.7);}
.mainbodier .bodier .striplayer{max-width:100%;}
.mainbodier .striplayer h2,.mainbodier .striplayer .gridBox{max-width:120rem;margin:0 auto;color:#fff;}

.mainbodier .bodier section{padding:2rem 0;padding-top:9.5rem;margin:0 auto;margin-top:-9.5rem;display:flex;width:100%;max-width:120rem;}
.mainbodier .bodier section article{width:100%;position:relative;clear:both;}

.mainbodier .bodier section h2:after{content:"label_important";display:block;width:2rem;font-size:1.5rem;line-height:2rem;font-weight:100;text-align:center;font-family:"Material Icons";position:absolute;top:0;left:0;}
.mainbodier .bodier section h2{font-size:2rem;font-weight:600;position:relative;}

.mainbodier .bodier section h3{font-size:1.8rem;text-align:center;position:relative;}
.mainbodier .bodier section .mediaBox img{width:auto;height:auto;max-width:100%;max-height:100%;}

.mainbodier .bodier section h2 input:after{display:block;width:2rem;height:.2rem;font-family:FontAwesome;position:absolute;left:0;}
.mainbodier .bodier section h2 .multi:after{content:"";}

.mainbodier .bodier section h2,
.mainbodier .bodier section .txtBox{padding-left:2.2rem;}
.mainbodier .bodier section .txtBox p,.mainbodier .bodier section .txtBox li{font-size:1.6rem;line-height:1.8rem;padding-bottom:2rem;}

.mainbodier .bodier section .mediaBox{position:relative;}
.mainbodier .bodier section .ima{height:0;background:#888;padding-top:56.25%;overflow:hidden;}

footer{background:#fff;background:#191919;width:100%;float:left;}
footer p{font-size:1.6rem;text-align:center;line-height:4.5rem;}