/*** Colores ***/
/**fondos**/
html{background:#e6e5e6;background:#fff;}
.mainbodier section{background:#fff;}

.mainbodier .bodier #image-banner article{background:#78BB90;}
.mainbodier .bodier #about article{background:#F7931E;padding-top:2rem;overflow:hidden;}
.mainbodier .bodier #contact article{background:#292929;padding-top:9.5rem;}

/**fuentes**/
html{color:#686868;}

.mainbodier section h2{color:#4d4d4d;}
.mainbodier section h2:after{color:#ffdb90;}

.mainbodier #about h2:after{color:#666;}

/*works*/
#works input[name="itemtag"]:checked + label,
#works #mosaic:checked ~ .gallery .trabajo h4{color:#fff;}

#works input[name="itemlist"] + label:after,
#works .trabajo .tag{color:#d3e2d7;}

#works input[name="itemlist"]:checked + label:after{color:#78bb90;}
/*experiencia*/
#experiencia h4,
#experiencia ul .txtBox{color:#4d4d4d;}