/** mosaic **/
#works #mosaic:checked ~ .gallery .trabajo .c_20{width:100%;}
#works #mosaic:checked ~ .gallery .trabajo .c_80{width:100%;padding-top:56.25%;position:absolute;top:0;left:0;}

#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:nth-child(n) .c_80{padding-top:100%;}
#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:first-child .c_80,
#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:nth-child(5n+1) .c_80{padding-top:50%;}

#works #mosaic:checked ~ .gallery .trabajo .c_80 .txtBox{background:rgba(0,0,0,.7);width:100%;padding:0 .5rem;position:absolute;bottom:0;left:0;}
#works #mosaic:checked ~ .gallery .trabajo .c_80 .txtBox .auxBox{clip:rect(0,0,0,0);position:absolute;top:-100%;left:-100%;overflow:hidden;}
#works #mosaic:checked ~ .gallery .trabajo{padding:0;}

#works .gallery .trabajo h4{font-size:1.2rem;font-weight:400;line-height:2.6rem;}
#works #mosaic:checked ~ .gallery .trabajo h4{float:left;margin:.5rem 0;}
#works .trabajo .tag{float:right;margin:0;margin:.5rem .5rem .5rem 0;cursor:default;}

#works .gallery .ima{overflow:hidden;}
#works .gallery .ima img{max-height:initial;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}


/*tamanos*/
#works #mosaic:checked ~ .gallery .trabajo{width:33.3333%;}

#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:nth-child(n){width:25%;}
#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:first-child,
#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:nth-child(5n+1){width:50%;}

/*paddings*/
#works #mosaic:checked ~ .gallery .trabajo .ima{padding-top:56.25%;}

#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:nth-child(n) .ima{padding-top:100%;}
#works #all:checked ~ #mosaic:checked ~ .gallery .trabajo:nth-child(5n+1) .ima{padding-top:50%;}

#works #mosaic:checked ~ .gallery .trabajo .ima img{height:100%;width:auto;}